.container{
  width: 100%;
  min-height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  overflow: hidden; // evita scroll por desbordes visuales
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  pointer-events: none;
}

.container > * {
  position: relative;
  z-index: 1;
}

.sections{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-left: 5%;
    margin-bottom: 20px;
    color: white;
}

.selected{
    color: #1522D1;
}

.content{
    display: flex;
    justify-content: end;
    align-items: start;
    height: 100%;
    padding-bottom: 0px;
    margin-top: 25px;
    flex-direction: row-reverse;
}

.details{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    // background-color: blue;
}

.details .title h1{
    color: white;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.date{
    font-size: 20px;
    display: flex;
    gap: 10px;
}

.date p, i{
    color: white;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title h3{
    text-align: center;
    margin-top: 0px;
    color: white;
}

form{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputs{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px
}

.inputGroup{
    color: #FFFFFF;
    text-align: left;
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
}

label{
    color: white;
    font-size: 20px;
    font-weight: 400;
}

input{
    height: 4.5vh;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #1A1B20 !important;
    color: white;
}

::ng-deep{
    .p-select{
        width: 100%;
        border-radius: 10px;
        border: none;
        background-color: #1A1B20 !important;
    }

    .p-select-label{
        color: white !important;
    }

    .p-select .p-icon{
        color: white !important;
    }
}

.btnDetails{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn2 {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 24px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  width: 30%;
  height: 5vh;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn2:hover {
  opacity: 0.9;
}

.summary{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.summaryTitle{
    color: white;
}

.summaryList{
    display: flex;
    width: 100%;
    gap: 20px;
}

.summaryInfo{
    display: flex;
    flex-direction: column;
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

.summaryInfo p{
    color: white;
    font-size: 18px;
    margin-bottom: 0px;
}

.delete{
    font-size: 15px;
    position: absolute;
    right: 5%;
    top: 5%;
    color: red;
    cursor: pointer;
}

.cantidad{
    width: 55%;
}

.cantidad-input {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.cantidad-input input {
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  border-radius: 4px;
}

.cantidad-input button {
    width: 100%;
    height: 32px;
    font-size: 1.2rem;
    border: none;
    border: 1px solid white;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
    transition: background 0.2s;
    background: #1A1B20 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cantidad-input button:disabled {
  background: transparent;
  opacity: 0.9;
  cursor: not-allowed;
}

@media(max-width: 768px){
    .content{
        flex-direction: column-reverse;
        align-items: center;
    }

    .details{
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .title{
        align-items: center;
        text-align: center;
    }

    form{
        width: 90%;
        align-items: center;
    }

    .inputGroup{
        width: 100%;
    }

    .summaryList{
        flex-direction: column;
        align-items: center;
    }

    .summaryInfo{
        width: 80%;
        align-items: center;
        text-align: center;
    }

    .cancelBtn{
        width: 80%;
    }

    .imagen{
        width: 50%;
        height: auto;
        margin-top: 20px;
    }

    .imgEvents{
        width: 100%;
    }
}

@media(max-width: 425px){
    .sections{
        font-size: 13px;
    }
}

@media(max-width: 375px){
    .sections{
        font-size: 11px
    }
}

@media(max-width: 320px){
    .sections{
        font-size: 9px;
    }
}
