<div class="container">
    <div class="sections">
    <p>Detalles del evento ></p> <p  class="selected">Espacios ></p> <p>Consumo ></p> <p>Confirmar datos ></p> <p>Pagar</p>
</div>

<div class="content">
  <div class="details">
    <div class="title">
      <h1>{{ name }}</h1>
    </div>

    <div class="date">
      <p><i class="pi pi-calendar"></i> {{ date }}</p>
      <p><i class="pi pi-clock"></i> {{ time }}</p>
    </div>

    <div class="title">
        <h3>Selecciona tu espacio</h3>
    </div>

    <form action="" (submit)="$event.preventDefault()">
        <div class="inputs">
              <div class="inputGroup">
                <label for="zone">Tipo de espacio</label>
                <!-- Si tienes un array `zones` en el componente, usa *ngFor y [value]="zone.idZona" -->
                 <p-select id="zones" name="selectedZone" [options]="zones" optionLabel="name" [(ngModel)]="selectedZone" optionLabel="name" class="w-full md:w-56"></p-select>
            </div>

            <div class="inputGroup cantidad">
                <label for="zone">Cantidad</label>
                <div class="cantidad-input">
                    <button type="button" (click)="decrement()" [disabled]="cantidad <= 1">-</button>
                    <input pInputText type="text" id="cantidad" [value]="cantidad" readonly>
                    <button type="button" (click)="increment()" [disabled]="cantidad >= 10">+</button>
                </div>
            </div>
        </div>

        <div class="btnDetails">
          <!-- llamar al método que añade la selección -->
          <button class="btn2" type="button" (click)="agregarSeleccion()">Agregar</button>
        </div>
     </form>

    <div class="summary" *ngIf="selected.length > 0">
      <div class="summary" [class.empty]="selected.length === 0">
          <!-- <div class="summaryTitle">
            <h3>Seleccion actual</h3>
          </div> -->

          <div class="summaryList">
            <div class="summaryInfo" *ngFor="let item of selected; let i = index">
              <i class="pi pi-times delete" (click)="clearSelection(i)"></i>
              <p><span>{{ item.name }} x{{ item.cantidad }}</span></p>
              <p>Total: <span>${{ item.total | number:'1.2-2' }}</span></p>
          </div>

            <!-- placeholder para reservar espacio cuando no hay items -->
            <div class="summaryPlaceholder" *ngIf="selected.length === 0"></div>
          </div>
      </div>
    </div>
    
        <div class="btnDetails" *ngIf="selected.length > 0">
            <button class="btn2" (click)="goToCheckout(idEvent)">Continuar</button>
        </div>
</div>
</div>
</div>