.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.table{
    margin-top: 2vh;
    padding: 20px;
    background-color: #232831;
    border-radius: 20px;
    width: 60%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.title{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title h1{
    color:white;
    margin-bottom: 0px;
}

.title p{
    margin-top: 0px;
    color:white;
}

.content h1{
    font-weight: bold;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-group{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.form-group label{
    display: flex;
    color: white;
}

.form-group input{
    background-color: transparent !important;
    color: white !important;
}

.form-group .form-control{
    width: 100%;
             /* --- Remove arrows for Webkit browsers (Chrome, Safari, Edge, Opera) --- */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none; /* This is the key property */
        margin: 0; /* Sometimes needed to remove extra space */
    }

    /* --- Remove arrows for Firefox --- */
    &[type='number'] {
        -moz-appearance: textfield; /* This makes it look like a regular text input */
    }
}

button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    width: 30%;
    height: 3.5vh;
}

button:hover{
    opacity: 0.9;
    cursor: pointer;
}

