.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.formGroup{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.formGroup2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: row;
    gap: 20px;
}

.formGroup label{
    color: white;
}

.formGroup input{
    width: 100%;
    background-color: transparent;
    color: white;
}

.formGroup .p-select{
    width: 100% !important;
    background-color: transparent;
    color: white;
}

::ng-deep .p-select-label.ng-star-inserted{
    color: white !important;
}

::ng-deep .p-select .p-select-label.p-placeholder{
    color: white !important;
}

::ng-deep .p-select .p-icon{
    color: white !important;
}


.date, .time, .room, .capacity{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.date input, .time input, .room input, .capacity input{
    background-color: transparent;
    color: white;
}

.description{
    width: 100%;
    display: flex;
    flex-direction: column;
}

::ng-deep .p-editor {
  border: 1px solid white !important;
  border-radius: 12px;
  overflow: hidden;
}

::ng-deep .p-editor .p-editor-toolbar {
  background-color: #000 !important;
  border: none !important;
}

::ng-deep .p-editor .p-editor-content {
  background-color: transparent !important;
  color: white !important;
}

::ng-deep .p-editor .ql-toolbar {
  background-color: transparent !important;
  border: none !important;
}

::ng-deep .p-editor .ql-container {
  background-color: transparent !important;
  border: none !important;
  color: white !important;
}

::ng-deep .p-editor .ql-editor {
  min-height: 200px;
  color: white !important;
  background-color: transparent !important;
}

::ng-deep .p-editor .ql-editor.ql-blank::before {
  color: rgba(255, 255, 255, 0.5) !important;
}

::ng-deep .p-editor .ql-toolbar .ql-picker-label {
  color: white !important;
  border: none !important;
}

::ng-deep .p-editor .ql-toolbar .ql-picker-label:hover {
  color: #1D4ED8 !important;
}

::ng-deep .p-editor .ql-toolbar .ql-picker-options {
  background-color: black !important;
//   border: 1px solid #EEFB07 !important;
  border-radius: 10px !important;
}

::ng-deep .p-editor .ql-toolbar .ql-picker-item {
  color: white !important;
}

::ng-deep .p-editor .ql-toolbar .ql-picker-item:hover {
  background-color: #1D4ED8 !important;
  color: black !important;
}

::ng-deep .p-editor .ql-toolbar .ql-picker-item.ql-selected {
  background-color: #1D4ED8 !important;
  color: black !important;
}

::ng-deep .p-editor .ql-toolbar .ql-list .ql-active{
    color: #1D4ED8 !important;
}

.imageTitle{
    text-align: center;
}

.imageTitle p{
    margin-bottom: 0px;
}

.image{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.item{
    width: 30%;
    height: auto;
}

.item button{
    width: 100%;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-file-btn {
  background-color: transparent;
  border: 1px solid white !important;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.2s;
}

.custom-file-btn:hover {
    opacity: 0.8;
}

.btn{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
}

.btn:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    opacity: 0.9;
}

.image-preview {
    width: 100%;
    position: relative;
    margin-top: 10px;
}

.preview{
    width: 100%;
}

.remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}