::ng-deep{
    body::-webkit-scrollbar {
      background: transparent;
    }
  }

  .container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .title{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 1vh;
    padding-bottom: 10px;
  }

  .title h1{
    margin-bottom: 0px;
    color: white;
    font-size: 30px;
  }

  .title p{
    margin-top: 0px;
    color: white;
    font-size: 18px;
  }

  .table{
    margin-top: 2vh;
    padding: 20px;
    background-color: #232831;
    border-radius: 20px;
  }

  ::ng-deep{
    .p-datatable-header {
      background-color: #232831 !important;
      border-color: #232831 !important;
      color: white !important;
    }
  
    .p-paginator {
      background-color: #232831 !important;
      border-color: #232831 !important;;
    }
  
    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
      background: #EEFB07 !important;
      border-color: #EEFB07 !important;
    }

    .p-paginator-page.p-paginator-page-selected{
      background: #2C323C !important;
      color: white !important;
    }

    .p-paginator-first, .p-paginator-prev, .p-paginator-next, .p-paginator-last {
      background-color: transparent !important;
      border-color: transparent !important;
      color: white !important;
    }
  }
  
  .toolbar{
    display: flex;
    gap: 20px;
    background-color: transparent !important;
  }

  .searchBar{
    background-color: transparent !important;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
    color: white;
  }

  .searchBar::placeholder{
    color: white;
    opacity: 0.8;
  }

  .buttons{
    display: flex;
    gap: 20px;
    justify-content: end;
    width: 40%;
  }

  .btn-delete{
    background-color: #f16363 !important;
    border-color: #f16363 !important;
    height: 45px;
    width: 15%;
    color: white !important;
    font-family: none  !important;
  }

  td,
  th {
    color: #FFFFFF !important;
    font-size: 15px;
    border: transparent;
    text-align: center;
  }

  td{
    text-align: center !important;
     border-bottom: 1px solid #3A4250 !important;
  }

  .name{
    text-align: left !important;
  }
  
  th {
    background-color: #2C323C !important;
    border: transparent;
    font-weight: normal;
    padding: 0;
    height: 45px !important;
    text-align: center !important;
     border-bottom: 1px solid #2C323C !important;
  }
  
  :host ::ng-deep p-table tr:nth-child(odd) {
    background-color: #232831 !important;
  }
  
  :host ::ng-deep p-table tr:nth-child(even) {
    background-color: #232831 !important;
  }

  tr:hover{
    background-color: #2B313B !important;
  }
  
  .check-estado{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  input:focus {
    box-shadow: none;
  }

  .p-toolbar-group-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
  }
  
  .rounded-button {
    border-radius: 13px;
  }
  
  ::ng-deep {
    .p-inputtext {
      background-color: #1a1b20;
    }

    .p-datatable-wrapper{
      margin-right: 15px;
    }
    .p-button{
      background-color: #26cf0f;
      border-color: transparent;
    }
    .p-dropdown-trigger {
      background-color: #191c24;
    }
    .custom-dialog2 {
      border: none;
    }
    .custom-dialog2 .p-dialog-header {
      display: flex;
      justify-content: center;
    }
    .custom-dialog2 .p-dialog-header .p-dialog-title {
      font-size: 20px;
      flex-grow: 1;
      text-align: center;
    }
    .custom-dialog2 .p-dialog-header .p-dialog-header-icons {
      position: absolute;
      right: 2%;
      top: 70%;
      transform: translateY(-50%);
    }
    .p-dropdown-items {
      background-color: #191c24;
    }
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
      background-color: #798002;
    }
    .custom-dialog {
      border: none;
    }
    .custom-dialog .p-dialog-header {
      display: flex;
      justify-content: center;
    }
    .custom-dialog .p-dialog-header .p-dialog-title {
      font-size: 18px;
      flex-grow: 1;
      text-align: center;
    }
    .custom-dialog .p-dialog-header .p-dialog-header-icons {
      position: absolute;
      right: 2%;
      top: 6%;
      transform: translateY(-50%);
    }
  
    .p-dialog-content {
      background-color: #1a1b20;
      color: white;
    }
  
    .p-dialog-header {
      background-color: #1a1b20;
      color: white;
    }
  }
  
  .flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: -5px;
  }
  
  .toobar {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 16px;
  }
  
  .toobar span {
    margin-left: -8px;
  }
  
  .p-inputtext {
    width: 260px;
    background-color: #191c24;
    border-radius: 10px;
    height: 45px;
  }
  
  .btn {
    background-color:  #2563EB !important;
    border-radius: 10px;
    height: 45px;
    width: 250px;
    color: white;
    border: 1px solid #475569 !important;
    &:hover {
     background-color: transparent !important;
     color: white;
    //  opacity: 0.9;
     background-color: #1D4ED8 !important;
     cursor: pointer;
    }
  }
  
  .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .estado {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .option{
    display: flex;
    justify-content: center;
    .pi {
      font-size: 16px;
      margin: 5px;
    }
  }

  .disponible {
    margin-left: 0px ;
    background: rgba(34,197,94,.15);
    color: #4ADE80 !important;
    border-color: #22C55E;
    padding: 7px;
    border-radius: 20px;
    border: 1px solid;
  }
  
  .noDisponible {
    margin-left: 0px ;
    background: rgba(239,68,68,.15);
    color: #F87171 !important;
    border-color: #EF4444;
    padding: 7px;
    border-radius: 20px;
    border: 1px solid;
  }

    .btnEdit {
      background-color: transparent !important;
      color: white !important;
      border: transparent;
      font-size: 25px;
      cursor: pointer;
    }

    .p-button:focus{
      outline: none !important;
    }

    .btnEdit:hover {
      filter: brightness(1.2);
    }
  
    .btnDelete {
      background-color: transparent !important;
      color: #EF4444 !important;
      border: transparent;
      font-size: 25px;
      cursor: pointer;
      margin-left: 10px;
    }
  
    .btnDelete:hover {
      filter: brightness(1.2);
    }
  
  
  