<div class="app-container">
    <nav>  
        <div class="items">
            <a href="#">Inicio</a>
            <a (click)="goToEvents()">Eventos</a>
        </div>
        
        <div class="navLogo">
            <img src="./assets/img/logo.png" alt="">
            <h2>Mi Ternerita House</h2>
        </div>
        
        <div class="auth">
            <a routerLink="/admin/dashboard" *ngIf="user?.role === 'admin'">Dashboard</a>
            <a routerLink="/mis-compras" *ngIf="user">Mis Compras</a>
            
            <!-- Botones de Login y Register solo cuando no está autenticado -->
            <div class="auth-buttons" *ngIf="!user">
                <button routerLink="/login" class="login">Login</button>
                <button routerLink="/register" class="register">Register</button>
            </div>
            
            <!-- Botón de Logout y nombre de usuario cuando está autenticado -->
            <div class="user-logout" *ngIf="user">
                <div class="user-info">
                    <i class="pi pi-user"></i>
                    <span>{{ user?.name }} {{ user?.lastName }}</span>
                </div>
                <button class="logout" (click)="logout()">Logout</button>
            </div>
        </div>
        
        <div class="info">
            <div class="logo">
                <img src="./assets/img/logo.png" alt="">
                <h2>Mi Ternerita House</h2>
            </div>

            <div class="menu">
                <button class="menu-toggle" (click)="showMobileMenu = !showMobileMenu">
                    <i class="pi pi-bars menuBtn"></i>
                </button>
            </div>

            <div class="mobile-menu" *ngIf="showMobileMenu" [class.open]="showMobileMenu">
                <a href="#">Inicio</a>
                <a (click)="goToEvents()">Eventos</a>
                <a routerLink="/admin/dashboard">Dashboard</a>
            </div>
        </div>
    </nav>
    
    

    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <div class="footerLogo">
            <img class="footerImg" src="./assets/img/logo.png" alt="">
        </div>

        <div class="footerInfo">
            <p>© 2024 Mi Ternerita. Todos los derechos reservados.</p>
            <p>Contacto: info&#64;miternerita.com</p>
        </div>

        <div class="socialMedia">
            <i class="pi pi-whatsapp" style="font-size: 2.5rem"></i>
            <i class="pi pi-telegram" style="font-size: 2.5rem"></i>
            <i class="pi pi-instagram" style="font-size: 2.5rem"></i>
            <i class="pi pi-facebook" style="font-size: 2.5rem"></i>
            <i class="pi pi-youtube" style="font-size: 2.5rem"></i>
            <i class="pi pi-tiktok" style="font-size: 2.5rem"></i>
        </div>
    </footer>

    <div class="mobileFooter">
        <div class="footerLogo">
            <img class="footerImg" src="./assets/img/logo.png" alt="">
        </div>

        <div class="socialMedia">
            <i class="pi pi-whatsapp" style="font-size: 2.5rem"></i>
            <i class="pi pi-telegram" style="font-size: 2.5rem"></i>
            <i class="pi pi-instagram" style="font-size: 2.5rem"></i>
            <i class="pi pi-facebook" style="font-size: 2.5rem"></i>
            <i class="pi pi-youtube" style="font-size: 2.5rem"></i>
            <i class="pi pi-tiktok" style="font-size: 2.5rem"></i>
        </div>

        <hr>

         <div class="footerInfo">
            <p>© 2024 Mi Ternerita. Todos los derechos reservados.</p>
            <p>Contacto: info&#64;miternerita.com</p>
        </div>
    </div>
</div>