<div class="app-container">
 <nav #nav>
  <div class="logo">
    <i class="pi pi-bars menu-icon" (click)="openSidebar(nav)"></i>
    <div class="logoImg">
        <img src="../../../assets/img/logo.png" alt="">
        <span class="logo-name">Mi Ternerita House</span>
    </div>
  </div>

  <div class="sidebar">
    <div class="logo">
      <i class="pi pi-times menu-icon-close" (click)="closeSidebar(nav)"></i>
    </div>

    <div class="sidebar-user">
      <i class="pi pi-user icon"></i>
      <span class="username">{{ nombre }} {{ lastName }}</span>
      <span class="role">{{ role }}</span>
    </div>

    <div class="sidebar-content">
      <ul class="lists">
        @for (route of routes; track route.name) {
          <li class="list" (click)="closeSidebar(nav)">
            <a [routerLink]="route.routerLink" class="nav-link">
              <i class="{{route.icon}} icon"></i>
              <span class="link">{{route.name}}</span>
            </a>
          </li>
        }
      </ul>

      <div class="bottom-content">
        <li class="list">
          <a href="/admin/settings" class="nav-link">
            <i class="pi pi-cog icon"></i>
            <span class="link">Configuración</span>
          </a>
        </li>
        <li class="list">
          <a (click)="logOut()" class="nav-link  logout">
            <i class="pi pi-sign-out icon"></i>
            <span class="link">Cerrar Sesión</span>
          </a>
        </li>
      </div>
    </div>
  </div>
</nav>


   <div class="content">
        <router-outlet></router-outlet>
    </div>

    <section class="overlay" (click)="closeSidebar(nav)"></section>

  <footer>
        <div class="footerLogo">
            <img class="footerImg" src="../../../assets/img/logo.png" alt="">
        </div>

        <div class="footerInfo">
            <p>© 2024 Mi Ternerita. Todos los derechos reservados.</p>
            <p>Contacto: info&#64;miternerita.com</p>
        </div>

        <div class="socialMedia">
            <i class="pi pi-whatsapp" style="font-size: 2.5rem"></i>
            <i class="pi pi-telegram" style="font-size: 2.5rem"></i>
            <i class="pi pi-instagram" style="font-size: 2.5rem"></i>
            <i class="pi pi-facebook" style="font-size: 2.5rem"></i>
            <i class="pi pi-youtube" style="font-size: 2.5rem"></i>
            <i class="pi pi-tiktok" style="font-size: 2.5rem"></i>
        </div>
    </footer>
</div>

